<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script>
      function increaseValue() {
        var value = parseInt(document.getElementById("number").value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById("number").value = value;
      }

      function decreaseValue() {
        var value = parseInt(document.getElementById("number").value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? (value = 1) : "";
        value--;
        document.getElementById("number").value = value;
      }
    </script>
  </head>
  <body>
    <div class="header">
      <a href="index.html" class="home"> HOME </a>
      <h1 class="heading">Time After Time</h1>
      <a href="cart.html" class="home"> CART </a>
    </div>
    <h2 class="subheading">SHOP</h2>
    <div class="box-big" id="small-box">
      <h2 class="box-head">Cart</h2>
      <div class="cart-entry">
        <div class="cart-picture"></div>
        <div class="cart-title">Omega Speedmaster</div>
        <a class="cart-remove">Remove</a>
        <div class="cart-price">₹10,000</div>
        <div class="quantity">
          <form>
            <div
              class="value-button"
              id="decrease"
              onclick="decreaseValue()"
              value="Decrease Value"
            >
              -
            </div>
            <input type="number" id="number" value="1" />
            <div
              class="value-button"
              id="increase"
              onclick="increaseValue()"
              value="Increase Value"
            >
              +
            </div>
          </form>
        </div>
      </div>
      <div class="cart-entry">
        <div class="cart-picture"></div>
        <div class="cart-title">Omega Speedmaster</div>
        <a class="cart-remove">Remove</a>
        <div class="cart-price">₹10,000</div>
      </div>
      <div class="cart-entry">
        <div class="cart-picture"></div>
        <div class="cart-title">Omega Speedmaster</div>
        <a class="cart-remove">Remove</a>
        <div class="cart-price">₹10,000</div>
      </div>
      <h2 class="box-head" style="font-size: 28px">Total: ₹20,000</h2>
      <div class="login">
        <button class="login-action" style="margin-bottom: 50px">
          Buy Now
        </button>
      </div>
    </div>
  </body>
</html>
