{% extends 'base.html' %}

{% block content %}
<!-- <div class="column"> -->
    <!-- <div class="col-sm-6 mb-3 mb-sm-0 "> -->
        <br>
      <div class="card text-bg-dark mb-3 w-50 mx-auto">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p class="card-text">Buy Watches.</p>
          <a href="{{url_for('user')}}" class="btn btn-secondary">Go</a>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="col-sm-6"> -->
      <div class="card text-bg-dark mb-3 w-50 mx-auto">
        <div class="card-body">
          <h5 class="card-title">Seller</h5>
          <p class="card-text">Sell Watches.</p>
          <a href="#" class="btn btn-secondary">Go</a>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="col-sm-6"> -->
        <div class="card text-bg-dark mb-3 w-50 mx-auto">
          <div class="card-body">
            <h5 class="card-title">Log in as Admin</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-secondary">Go</a>
          </div>
        </div>
      <!-- </div> -->
  <!-- </div> -->

{% endblock %}